@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,700&family=Open+Sans&display=swap');

.container-Form {
    display: flex;
    flex-direction: column;
    place-items: center;
    line-height: 0.6;
    margin-top: 40px;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    margin-left: 50%;
  
}
fieldset {
    border: solid 1px black;
    padding-right: 10px;
    margin-left: 70px;;
}
.input {
    text-decoration: none;
    background-color: transparent;
    border: transparent;
    outline: none;
    width: 500px;
    height: 40px;
    padding: 15px;
}
.newLetter {
    font-size: 14px;
    color: rgba(136, 136, 136, 0.685);
    font-family: 'Open Sans', sans-serif;
}
.subscribe {
    font-size: 44px;
    color: black;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
small {
    font-size: 8px;
    color: black;
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
}