.container-puff .card{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container-imagPuff {
  display: flex;
  
  
}
.imgPuff {
  width: 650px;
  height: 450px;
}
.container-imagPuff {
  width: 40%;
  height: 40%;
  /* background-color: red; */
}
.container-imagPuff button {
 margin-left: 310px;
}